In [1]:
# import
import pandas as pd
import numpy as np

In [2]:
# pd.Series(data, index)
notes = {
    "Reseau":[12,8,15],
    "AI":[20,3,6],
    "Math":[5,9,10]
}
note_pd = pd.Series(notes)
note_pd

Reseau    [12, 8, 15]
AI         [20, 3, 6]
Math       [5, 9, 10]
dtype: object

In [3]:
#pour recuperer les index qui sont les clés
note_pd.index

Index(['Reseau', 'AI', 'Math'], dtype='object')

In [4]:
#pour recuperer les données qui sont les valeurs
note_pd.array

<PandasArray>
[[12, 8, 15], [20, 3, 6], [5, 9, 10]]
Length: 3, dtype: object

In [5]:
a= "Physique" in note_pd
a

False

In [6]:
notes = {
    "Reseau":12,
    "AI":20,
    "Math":5,
}
note_pd = pd.Series(notes, index=["Reseau","AI","Math","physique"])
note_pd

Reseau      12.0
AI          20.0
Math         5.0
physique     NaN
dtype: float64

In [7]:
pop = np.array([523,565,256])
pays=["rdc","congo","rca"]
pop_pay= pd.Series(pop, pays, name="Pays et nombre de la population")
pop_pay

rdc      523
congo    565
rca      256
Name: Pays et nombre de la population, dtype: int32

In [8]:
# rename series
pay_pop = pop_pay.rename("pays")
pay_pop

rdc      523
congo    565
rca      256
Name: pays, dtype: int32

# dataframe

In [9]:
notes = {
    "Reseaux":pd.Series([12,8,15], ["franck", "fim", "vainqueur"]),
    "AI":pd.Series([20,3,6], ["franck", "fim", "vainqueur"]),
    "Math":pd.Series([5,9,10] ,["franck", "fim", "vainqueur"]),
}
notes_df= pd.DataFrame(notes)
notes_df

           Reseaux  AI  Math
franck          12  20     5
fim              8   3     9
vainqueur       15   6    10

In [10]:
notes_df.index

Index(['franck', 'fim', 'vainqueur'], dtype='object')

In [11]:
notes_df.columns

Index(['Reseaux', 'AI', 'Math'], dtype='object')

In [12]:
preAge = {
    "Prenom":["fim","franck", "vainqueur"],
    "Age":[20,3,6],   
}
df=pd.DataFrame(preAge)
df

      Prenom  Age
0        fim   20
1     franck    3
2  vainqueur    6

# l'acces aux données d'un objet Series
## operateur d'indecing
## .loc()
## .iloc()

In [13]:
cote = {
    "Reseau":12,
    "AI":20,
    "Math":5,
}
#print(dir(pd))
df= pd.Series(cote)
df["Math"]
# silicing

5

In [14]:
tout = {
    "Reseau":12,
    "AI":20,
    "Math":5,
}
d_f = pd.DataFrame([tout])
d_f

   Reseau  AI  Math
0      12  20     5

In [15]:
cotes_excel= pd.read_excel('cote.xlsx')
cotes_excel

,Etudiant/cours,Progreammation web,Progreammation mobile,Progreammation OO,AI,Genie logiciel,Infographie,Adm BD,Reseaux,MOO,MAI,Total,Moyenne
0,Vainqueuer Ilunga,15,18,18,16,15,16,17,14,18,15,NaN,NaN
1,Mercia Ilunga,16,15,17,14,14,14,15,12,12,14,NaN,NaN
2,Moise Ilunga,14,14,19,15,16,15,12,14,14,12,NaN,NaN
3,Tegra Lubaba,16,15,15,15,17,16,12,17,15,14,NaN,NaN
4,Sinai Kyembe,15,16,18,16,18,17,14,15,14,15,NaN,NaN
5,Hermann Lumbila,17,17,17,14,19,15,15,16,15,18,NaN,NaN
6,Cyrile Kalasa,15,18,19,15,12,14,16,18,17,16,NaN,NaN
7,Tryphene Beya,14,19,15,12,14,12,14,19,16,17,NaN,NaN
8,Joydy Boni,16,12,18,15,15,11,17,17,18,15,NaN,NaN
9,Hubert Kalolo,15,15,16,15,18,10,15,15,18,17,NaN,NaN
10,Hoshe Muteba,14,14,14,16,16,12,16,15,15,15,NaN,NaN
11,Espoir,16,15,15,17,17,12,17,14,15,12,NaN,NaN
12,Jeancy Kitenge,18,16,14,18,13,13,15,14,15,14,NaN,NaN
13,Merveil Mamba,15,17,12,12,14,14,17,14,12,12,NaN,NaN

In [23]:
# pour calculer la somme de cote chaque etudiant
cotes_excel.sum(axis=1)

C:\Users\ilung\AppData\Local\Temp\ipykernel_8608\484098875.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  cotes_excel.sum(axis=1)

0     162.0
1     143.0
2     145.0
3     152.0
4     158.0
5     163.0
6     160.0
7     152.0
8     154.0
9     154.0
10    147.0
11    150.0
12    150.0
13    139.0
dtype: float64

In [21]:
cotes_excel.mean(axis=1)

C:\Users\ilung\AppData\Local\Temp\ipykernel_8608\3703990533.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  cotes_excel.mean(axis=1)

0     16.2
1     14.3
2     14.5
3     15.2
4     15.8
5     16.3
6     16.0
7     15.2
8     15.4
9     15.4
10    14.7
11    15.0
12    15.0
13    13.9
dtype: float64