In [32]:
import pandas as pd
import numpy as np

In [33]:
notes = {
    "RESEAU":[10,20],
    "AI":[30,40],
    "math":[50,60]
    
}
notes_pd = pd.Series(notes)
notes_pd

RESEAU    [10, 20]
AI        [30, 40]
math      [50, 60]
dtype: object

In [34]:
population = np.array([1800,1900,2000])
pays = ["rdc", "angola", "rwanda"]
pop_pay = pd.Series(population,index=pays)
pop_pay

rdc       1800
angola    1900
rwanda    2000
dtype: int64

In [35]:
notes = {
    "RESEAU":pd.Series([0,20,0,1],index=["tegra","joydy","germain","franck"]),
    "AI":pd.Series([0.3,40,56,66],index=["tegra","joydy","germain","franck"]),
    "math":pd.Series([1,60,43,22],index=["tegra","joydy","germain","franck"])
    
}
df = pd.DataFrame(notes)
df

         RESEAU    AI  math
tegra         0   0.3     1
joydy        20  40.0    60
germain       0  56.0    43
franck        1  66.0    22

In [36]:
df.index

Index(['tegra', 'joydy', 'germain', 'franck'], dtype='object')

In [37]:
df.columns

Index(['RESEAU', 'AI', 'math'], dtype='object')

In [38]:
identites = {
    "prenom":("joydy","jean","paul"),
    "age":[22,21,20]
}
df=pd.DataFrame(identites)
df

  prenom  age
0  joydy   22
1   jean   21
2   paul   20

In [47]:
notes = {
    "RESEAU":[10],
    "AI":[30],
    "math":[50]
    
}
df = pd.DataFrame(notes)
df

   RESEAU  AI  math
0      10  30    50