In [107]:
# pour import pandas on fait  
import pandas as pd
import numpy as np

In [108]:
# pd.Series(data,index)
notes = {
    "Reseau":[12,8],
    "AI":[20,3,6],
    "Math":[30,23,10]
}
note_pd = pd.Series(notes)
note_pd
note_pd.index

Index(['Reseau', 'AI', 'Math'], dtype='object')

In [109]:
note_pd.array

<PandasArray>
[[12, 8], [20, 3, 6], [30, 23, 10]]
Length: 3, dtype: object

In [110]:
a="physique" in note_pd
a

False

In [111]:
notes = {
    "Reseau":12,
    "AI":20,
    "Math":30
}
note_pd = pd.Series(notes,index=['Reseau','AI','Math','physique'])
note_pd

Reseau      12.0
AI          20.0
Math        30.0
physique     NaN
dtype: float64

In [112]:
population = np.array([89000,67770,544480])
pays=["Rdc","chine","Zambie"]

pp_pd=pd.Series(population,index=pays,name="nombre de la population")
pp_pd

Rdc        89000
chine      67770
Zambie    544480
Name: nombre de la population, dtype: int32

In [113]:
# renome Series
pp_pd2 = pp_pd.rename("NBR population")
pp_pd2

Rdc        89000
chine      67770
Zambie    544480
Name: NBR population, dtype: int32

In [114]:
# dataFrame

notes = {
    "Reseau": pd.Series([12,8,15,16],index=["ianis","ruth","gracia","tryphene"]),
    "AI": pd.Series([16,13,16,23],index=["ianis","ruth","gracia","tryphene"]),
    "Math": pd.Series([21,23,10,31],index=["ianis","ruth","gracia","tryphene"])
}
df= pd.DataFrame(notes)
df

          Reseau  AI  Math
ianis         12  16    21
ruth           8  13    23
gracia        15  16    10
tryphene      16  23    31

In [115]:
df.index

Index(['ianis', 'ruth', 'gracia', 'tryphene'], dtype='object')

In [116]:
df.columns

Index(['Reseau', 'AI', 'Math'], dtype='object')

In [117]:
 data= {
       "prenom": ["ianis","ruth","gracia","tryphene"], 
        "age": [24,21,12,16]
}
data_pd= pd.DataFrame(data)
data_pd

     prenom  age
0     ianis   24
1      ruth   21
2    gracia   12
3  tryphene   16

# Acces aux donnees d'un Series

# operateur d'indexation

# . loc()

# .iloc

In [121]:
notes = {"Math":29,"AI":16,"Reseau":15}
df=pd.Series(notes)
df
#print(df["Math":"AI"])

Math      29
AI        16
Reseau    15
dtype: int64

In [124]:
notes = {"Math":29,"AI":16,"Reseau":15}
df=pd.Series(notes)
print(df["Math":"AI"])

Math    29
AI      16
dtype: int64

In [128]:
d[1]
print(df[1:])

NameError: name 'd' is not defined