In [1]:
import numpy as np
import pandas as pd

In [4]:
cotes=pd.read_excel('cote.xlsx')
cotes

    Cours  francais  math  infographie  base de donnée  physique
0   nicol        12    15           21              13        20
1    ruth        14    25            9              12        12
2    emma        11    22           13              14        15
3   sinai        12    16           26              21        20
4  kyembe        21    20           13              12        15

In [15]:
somme=cotes.sum(axis=1)
somme

C:\Users\ianis\AppData\Local\Temp\ipykernel_1748\2367495664.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  somme=cotes.sum(axis=1)

0    81
1    72
2    75
3    95
4    81
dtype: int64

In [14]:
moyenne=cotes.mean(axis=1)
moyenne

C:\Users\ianis\AppData\Local\Temp\ipykernel_1748\2066936137.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  moyenne=cotes.mean(axis=1)

0    16.2
1    14.4
2    15.0
3    19.0
4    16.2
dtype: float64